button.square {
    padding: 10px;
    border: 1px solid gray;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 100px;
}

button.square-in-line-win {
    background-color: crimson;;
    color: white;
}